@media only screen and (max-width: 768px) {
    .banner {
        display: none;
    }
    .carousel-card {
        width: 150px !important;
        height: auto;
    }
    .carousel-card > div > h6, .carousel-card > div > p{
        font-size: .6rem;
        line-height: .5;
    }
    .prev-btn,
    .next-btn { 
        display: none;
    }
    .carousel-container {
        padding: 0px 0px ;
        margin: 0px 2px;
    }
    .carousel-wrapper {
        padding: 5px 1px;
        margin-left: 6px;
        margin-right: 6px;
        margin-bottom: 20px;
    }
    .carousel-cat-card {
        width: 98.6px;
        height: 98px;
        min-height: 110px;
    }
    .carousel-cat-card > div{
        font-size: .6rem;
    }
    .carousel-cat-card:hover {
        box-shadow: 2px 2px 12px rgba(0,0,0, 0.07);
    }
    .carousel-prod-card {
        width: 158px;
    }
    .nav-tp ul>li>a {
        font-size: 1rem;
    }
    .nav-tp > ul > li > h5, 
    .nav-tp > ul > li > a > h6{
        font-size: .7rem !important ;
    }
    .prev-prod-btn, 
    .next-prod-btn {
        display: none;
    }
    .r_l {
        width: 138px ;
        padding: 0px !important;
        margin-bottom: 10px;
    }

}
@media only screen and (max-width: 820px) {
    .banner {
        margin-top: 22px;
    }
    .carousel-card {
        width: 150px !important;
        height: auto;
    }
    .carousel-card > div > h6, .carousel-card > div > p{
        font-size: .6rem;
        line-height: .5;
    }
    .prev-btn,
    .next-btn { 
        display: none;
    }
    .carousel-container {
        padding: 0px 0px ;
        margin: 0px 2px;
    }
    .carousel-wrapper {
        padding: 5px 1px;
        margin-left: 6px;
        margin-right: 6px;
        margin-bottom: 20px;
    }
    .carousel-cat-card {
        width: 98.6px;
        height: 98px;
        min-height: 110px;
    }
    .carousel-cat-card > div{
        font-size: .6rem;
    }
    .carousel-cat-card:hover {
        box-shadow: 2px 2px 12px rgba(0,0,0, 0.07);
    }
    .carousel-prod-card {
        width: 158px;
    }
    .nav-tp ul>li>a {
        font-size: 1rem;
    }
    .nav-tp > ul > li > h5, 
    .nav-tp > ul > li > a > h6{
        font-size: .7rem !important ;
    }
    .prev-prod-btn, 
    .next-prod-btn {
        display: none;
    }
    .r_l {
        width: 138px ;
        padding: 0px !important;
        margin-bottom: 10px;
    }

}
